DATABASE_URL=postgresql://neondb_owner:npg_FktsArUGj7i4@ep-plain-star-a1zxm51n.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_dW5iaWFzZWQtbGlvbmVzcy01LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_0R88bBuZxcJ0JqcfsKAmyDEmESKUXynQy38exyGeos

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/onboarding
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/onboarding

GEMINI_API_KEY=AIzaSyAV6RM6EyFlp5ruhLXK2h2H1w5HCNeBF7g


INNGEST_EVENT_KEY=
INNGEST_SIGNING_KEY=
CLERK_WEBHOOK_SECRET=whsec_AR4RVGGql1l+QF6vOn1C4SmBg19hM0Xy
